In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/Udacity_CUSTOMERS_052018.csv", sep=";")

/tmp/ipykernel_345771/3626121839.py:1: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Udacity_CUSTOMERS_052018.csv", sep=";")

In [3]:
df

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191647,154561,1,1.0,9.0,NaN,NaN,NaN,NaN,9.0,1.0,...,5.0,6.0,9.0,1.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191648,154563,-1,2.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,...,4.0,NaN,9.0,3.0,3,COSMETIC,SINGLE_BUYER,0,2,4
191649,148813,2,1.0,15.0,NaN,NaN,NaN,NaN,10.0,1.0,...,5.0,3.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191650,148852,3,1.0,13.0,NaN,NaN,NaN,NaN,13.0,4.0,...,1.0,4.0,9.0,2.0,3,FOOD,SINGLE_BUYER,0,2,3
191651,148883,3,1.0,0.0,NaN,NaN,NaN,NaN,9.0,1.0,...,1.0,3.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2

In [4]:
%run cols_definition.py

In [5]:
df[person_cols]

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,SEMIO_RAT,SEMIO_KRIT,SEMIO_DOM,SEMIO_KAEM,SEMIO_PFLICHT,SEMIO_TRADV,SHOPPER_TYP,TITEL_KZ,VERS_TYP,ZABEOTYP
0,2,4,1,5.0,5,1,5,1,2,2,...,1,3,1,1,2,1,3,0.0,1,3
1,-1,4,1,NaN,5,1,5,1,3,2,...,1,3,3,2,4,1,3,0.0,1,3
2,-1,4,2,2.0,5,1,5,1,4,4,...,2,7,5,6,4,1,1,0.0,2,3
3,1,4,1,2.0,5,1,5,2,1,2,...,3,3,3,3,3,4,0,0.0,1,1
4,-1,3,1,6.0,3,1,4,4,5,2,...,5,3,5,2,5,4,1,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191647,1,3,1,4.0,5,1,5,1,1,2,...,5,5,5,3,3,4,1,0.0,2,3
191648,-1,4,2,2.0,5,1,5,2,2,3,...,3,4,5,5,1,3,3,0.0,2,3
191649,2,4,1,2.0,5,1,5,1,1,2,...,1,3,3,3,1,1,0,0.0,1,3
191650,3,3,2,4.0,2,1,5,1,2,5,...,4,7,7,7,4,2,2,0.0,1,3
191651,3,2,1,2.0,5,1,5,1,1,2,...,4,5,4,4,7,5,1,0.0,1,1

In [6]:
df[household_cols]

,ALTER_HH,ANZ_PERSONEN,ANZ_TITEL,HH_EINKOMMEN_SCORE,D19_KONSUMTYP,D19_GESAMT_ANZ_12,D19_GESAMT_ANZ_24,D19_BANKEN_ANZ_12,D19_BANKEN_ANZ_24,D19_TELKO_ANZ_12,...,D19_VERSAND_ONLINE_DATUM,D19_VERSAND_DATUM,D19_VERSI_OFFLINE_DATUM,D19_VERSI_ONLINE_DATUM,D19_VERSI_DATUM,D19_GESAMT_ONLINE_QUOTE_12,D19_BANKEN_ONLINE_QUOTE_12,D19_VERSAND_ONLINE_QUOTE_12,W_KEIT_KIND_HH,WOHNDAUER_2008
0,10.0,2.0,0.0,1.0,3.0,0,0,0,0,0,...,10,9,10,10,10,0.0,0.0,0.0,6.0,9.0
1,11.0,3.0,0.0,NaN,5.0,0,1,0,1,0,...,9,9,10,10,10,0.0,0.0,0.0,0.0,9.0
2,6.0,1.0,0.0,1.0,3.0,0,0,0,0,0,...,10,10,10,10,10,0.0,0.0,0.0,6.0,9.0
3,8.0,0.0,0.0,4.0,3.0,0,1,0,0,0,...,10,6,10,10,9,0.0,0.0,0.0,NaN,9.0
4,20.0,4.0,0.0,6.0,1.0,3,5,1,2,0,...,1,1,10,10,10,10.0,0.0,10.0,2.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191647,9.0,1.0,0.0,1.0,2.0,0,1,0,1,0,...,9,9,10,10,10,0.0,0.0,0.0,6.0,9.0
191648,0.0,0.0,0.0,4.0,9.0,0,0,0,0,0,...,10,10,10,10,10,0.0,0.0,0.0,NaN,9.0
191649,15.0,3.0,0.0,4.0,3.0,0,0,0,0,0,...,8,8,10,10,10,0.0,0.0,0.0,3.0,9.0
191650,13.0,4.0,0.0,5.0,1.0,1,2,1,1,0,...,10,6,10,10,10,0.0,0.0,0.0,4.0,9.0
191651,0.0,3.0,0.0,5.0,1.0,4,4,1,1,0,...,10,5,10,10,10,0.0,0.0,0.0,3.0,9.0

In [7]:
df[building_cols]

,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,GEBAEUDETYP,KBA05_HERSTTEMP,KBA05_MODTEMP,KONSUMNAEHE,MIN_GEBAEUDEJAHR,OST_WEST_KZ,WOHNLAGE
0,1.0,0.0,1.0,2.0,2.0,5.0,1992.0,W,7.0
1,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
2,1.0,0.0,8.0,2.0,3.0,1.0,1992.0,W,2.0
3,0.0,NaN,2.0,3.0,4.0,2.0,1992.0,W,7.0
4,7.0,0.0,3.0,1.0,4.0,1.0,1992.0,W,3.0
...,...,...,...,...,...,...,...,...,...
191647,1.0,0.0,1.0,2.0,1.0,3.0,1992.0,W,1.0
191648,0.0,NaN,4.0,3.0,3.0,4.0,1997.0,W,3.0
191649,1.0,0.0,1.0,3.0,2.0,3.0,1992.0,W,3.0
191650,4.0,0.0,3.0,2.0,4.0,1.0,1992.0,W,2.0
191651,1.0,0.0,1.0,2.0,3.0,5.0,1992.0,W,7.0

In [8]:
df[microcell_cameo_cols]

       CAMEO_DEUG_2015 CAMEO_DEU_2015
0                  1.0             1A
1                  NaN            NaN
2                  5.0             5D
3                  4.0             4C
4                  7.0             7B
...                ...            ...
191647               1             1C
191648               5             5B
191649               4             4D
191650               4             4C
191651               5             5C

[191652 rows x 2 columns]

In [9]:
df[microcell_cols]

,KBA05_ALTER1,KBA05_ALTER2,KBA05_ALTER3,KBA05_ALTER4,KBA05_ANHANG,KBA05_ANTG1,KBA05_ANTG2,KBA05_ANTG3,KBA05_ANTG4,KBA05_AUTOQUOT,...,KBA05_SEG8,KBA05_SEG9,KBA05_SEG10,KBA05_VORB0,KBA05_VORB1,KBA05_VORB2,KBA05_ZUL1,KBA05_ZUL2,KBA05_ZUL3,KBA05_ZUL4
0,2.0,2.0,4.0,4.0,1.0,2.0,2.0,0.0,0.0,5.0,...,1.0,2.0,2.0,4.0,3.0,2.0,3.0,4.0,2.0,3.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,4.0,2.0,3.0,3.0,2.0,2.0,0.0,0.0,4.0,...,2.0,1.0,4.0,4.0,3.0,2.0,2.0,4.0,3.0,2.0
3,2.0,3.0,3.0,3.0,3.0,3.0,0.0,0.0,0.0,3.0,...,2.0,0.0,2.0,3.0,3.0,2.0,2.0,3.0,4.0,4.0
4,2.0,4.0,4.0,1.0,0.0,0.0,3.0,2.0,0.0,3.0,...,0.0,0.0,1.0,2.0,4.0,3.0,3.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191647,0.0,4.0,2.0,4.0,1.0,3.0,2.0,0.0,0.0,3.0,...,3.0,2.0,4.0,5.0,1.0,1.0,2.0,2.0,2.0,5.0
191648,1.0,3.0,3.0,3.0,3.0,1.0,1.0,0.0,0.0,5.0,...,1.0,1.0,2.0,3.0,3.0,1.0,3.0,3.0,3.0,2.0
191649,0.0,2.0,3.0,5.0,1.0,4.0,1.0,0.0,0.0,3.0,...,0.0,1.0,1.0,3.0,5.0,1.0,3.0,5.0,0.0,1.0
191650,2.0,2.0,4.0,3.0,1.0,2.0,1.0,0.0,0.0,3.0,...,0.0,0.0,2.0,4.0,3.0,3.0,3.0,3.0,1.0,4.0
191651,1.0,4.0,2.0,4.0,2.0,1.0,1.0,0.0,0.0,4.0,...,1.0,1.0,2.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0

In [10]:
df[postcode_cols]

        BALLRAUM  EWDICHTE  INNENSTADT
0            3.0       2.0         4.0
1            NaN       NaN         NaN
2            7.0       4.0         1.0
3            7.0       1.0         7.0
4            3.0       4.0         4.0
...          ...       ...         ...
191647       1.0       6.0         2.0
191648       6.0       2.0         4.0
191649       7.0       6.0         8.0
191650       3.0       4.0         5.0
191651       3.0       1.0         6.0

[191652 rows x 3 columns]

In [11]:
df[rr1_id_cols]

        GEBAEUDETYP_RASTER  KKK  MOBI_REGIO  ONLINE_AFFINITAET  REGIOTYP
0                      4.0  1.0         4.0                3.0       1.0
1                      NaN  NaN         NaN                NaN       NaN
2                      3.0  3.0         3.0                1.0       7.0
3                      4.0  3.0         4.0                2.0       6.0
4                      3.0  4.0         3.0                5.0       7.0
...                    ...  ...         ...                ...       ...
191647                 5.0  1.0         3.0                3.0       1.0
191648                 5.0  3.0         4.0                2.0       5.0
191649                 4.0  3.0         5.0                2.0       4.0
191650                 3.0  3.0         3.0                2.0       6.0
191651                 5.0  2.0         5.0                1.0       4.0

[191652 rows x 5 columns]

In [12]:
df[plz8_cols]

,KBA13_ALTERHALTER_30,KBA13_ALTERHALTER_45,KBA13_ALTERHALTER_60,KBA13_ALTERHALTER_61,KBA13_ANZAHL_PKW,KBA13_AUDI,KBA13_AUTOQUOTE,KBA13_BJ_1999,KBA13_BJ_2000,KBA13_BJ_2004,...,KBA13_VORB_2,KBA13_VORB_3,KBA13_VW,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ
0,1.0,2.0,5.0,3.0,1201.0,4.0,4.0,3.0,2.0,3.0,...,3.0,1.0,4.0,3.0,3.0,1.0,0.0,1.0,5.0,5.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,2.0,4.0,433.0,4.0,2.0,4.0,3.0,1.0,...,3.0,4.0,3.0,2.0,3.0,3.0,1.0,3.0,3.0,2.0
3,3.0,4.0,3.0,2.0,755.0,2.0,4.0,3.0,2.0,3.0,...,2.0,3.0,1.0,3.0,2.0,1.0,0.0,1.0,3.0,4.0
4,1.0,3.0,3.0,4.0,513.0,2.0,3.0,4.0,3.0,3.0,...,3.0,0.0,2.0,2.0,4.0,2.0,1.0,2.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191647,2.0,4.0,1.0,5.0,646.0,3.0,2.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,4.0,2.0,1.0,2.0,5.0,4.0
191648,2.0,4.0,4.0,1.0,1600.0,3.0,5.0,2.0,2.0,4.0,...,2.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191649,3.0,3.0,2.0,4.0,642.0,2.0,1.0,4.0,3.0,3.0,...,3.0,2.0,3.0,3.0,2.0,2.0,1.0,1.0,5.0,5.0
191650,3.0,3.0,3.0,4.0,254.0,3.0,3.0,3.0,4.0,4.0,...,2.0,5.0,2.0,3.0,2.0,1.0,1.0,1.0,2.0,3.0
191651,3.0,3.0,5.0,1.0,1145.0,5.0,5.0,2.0,2.0,3.0,...,2.0,2.0,4.0,3.0,2.0,0.0,0.0,1.0,4.0,5.0

In [13]:
df[community_cols]

        ARBEIT  ORTSGR_KLS9  RELAT_AB
0          1.0          2.0       1.0
1          NaN          NaN       NaN
2          3.0          5.0       3.0
3          1.0          3.0       1.0
4          3.0          5.0       1.0
...        ...          ...       ...
191647     3.0          8.0       5.0
191648     1.0          4.0       1.0
191649     3.0          7.0       5.0
191650     3.0          4.0       4.0
191651     1.0          3.0       1.0

[191652 rows x 3 columns]

In [14]:
columns_lists = [
    person_cols,
    household_cols,
    building_cols,
    microcell_cameo_cols,
    microcell_cols,
    grid_cols,
    postcode_cols,
    rr1_id_cols,
    plz8_cols,
    community_cols,
]

In [15]:
columns_lists

[['AGER_TYP',
  'ALTERSKATEGORIE_GROB',
  'ANREDE_KZ',
  'CJT_GESAMTTYP',
  'FINANZ_MINIMALIST',
  'FINANZ_SPARER',
  'FINANZ_VORSORGER',
  'FINANZ_ANLEGER',
  'FINANZ_UNAUFFAELLIGER',
  'FINANZ_HAUSBAUER',
  'FINANZTYP',
  'GEBURTSJAHR',
  'GFK_URLAUBERTYP',
  'GREEN_AVANTGARDE',
  'HEALTH_TYP',
  'LP_LEBENSPHASE_FEIN',
  'LP_LEBENSPHASE_GROB',
  'LP_FAMILIE_FEIN',
  'LP_FAMILIE_GROB',
  'LP_STATUS_FEIN',
  'LP_STATUS_GROB',
  'NATIONALITAET_KZ',
  'PRAEGENDE_JUGENDJAHRE',
  'RETOURTYP_BK_S',
  'SEMIO_SOZ',
  'SEMIO_FAM',
  'SEMIO_REL',
  'SEMIO_MAT',
  'SEMIO_VERT',
  'SEMIO_LUST',
  'SEMIO_ERL',
  'SEMIO_KULT',
  'SEMIO_RAT',
  'SEMIO_KRIT',
  'SEMIO_DOM',
  'SEMIO_KAEM',
  'SEMIO_PFLICHT',
  'SEMIO_TRADV',
  'SHOPPER_TYP',
  'TITEL_KZ',
  'VERS_TYP',
  'ZABEOTYP'],
 ['ALTER_HH',
  'ANZ_PERSONEN',
  'ANZ_TITEL',
  'HH_EINKOMMEN_SCORE',
  'D19_KONSUMTYP',
  'D19_GESAMT_ANZ_12',
  'D19_GESAMT_ANZ_24',
  'D19_BANKEN_ANZ_12',
  'D19_BANKEN_ANZ_24',
  'D19_TELKO_ANZ_12',
  'D19_TELKO_ANZ_24',
  'D19_VERSI_ANZ_12',
  'D19_VERSI_ANZ_24',
  'D19_VERSAND_ANZ_12',
  'D19_VERSAND_ANZ_24',
  'D19_GESAMT_OFFLINE_DATUM',
  'D19_GESAMT_ONLINE_DATUM',
  'D19_GESAMT_DATUM',
  'D19_BANKEN_OFFLINE_DATUM',
  'D19_BANKEN_ONLINE_DATUM',
  'D19_BANKEN_DATUM',
  'D19_TELKO_OFFLINE_DATUM',
  'D19_TELKO_ONLINE_DATUM',
  'D19_TELKO_DATUM',
  'D19_VERSAND_OFFLINE_DATUM',
  'D19_VERSAND_ONLINE_DATUM',
  'D19_VERSAND_DATUM',
  'D19_VERSI_OFFLINE_DATUM',
  'D19_VERSI_ONLINE_DATUM',
  'D19_VERSI_DATUM',
  'D19_GESAMT_ONLINE_QUOTE_12',
  'D19_BANKEN_ONLINE_QUOTE_12',
  'D19_VERSAND_ONLINE_QUOTE_12',
  'W_KEIT_KIND_HH',
  'WOHNDAUER_2008'],
 ['ANZ_HAUSHALTE_AKTIV',
  'ANZ_HH_TITEL',
  'GEBAEUDETYP',
  'KBA05_HERSTTEMP',
  'KBA05_MODTEMP',
  'KONSUMNAEHE',
  'MIN_GEBAEUDEJAHR',
  'OST_WEST_KZ',
  'WOHNLAGE'],
 ['CAMEO_DEUG_2015', 'CAMEO_DEU_2015'],
 ['KBA05_ALTER1',
  'KBA05_ALTER2',
  'KBA05_ALTER3',
  'KBA05_ALTER4',
  'KBA05_ANHANG',
  'KBA05_ANTG1',
  'KBA05_ANTG2',
  'KBA05_ANTG3',
  'KBA05_ANTG4',
  'KBA05_AUTOQUOT',
  'KBA05_BAUMAX',
  'KBA05_CCM1',
  'KBA05_CCM2',
  'KBA05_CCM3',
  'KBA05_CCM4',
  'KBA05_DIESEL',
  'KBA05_FRAU',
  'KBA05_GBZ',
  'KBA05_HERST1',
  'KBA05_HERST2',
  'KBA05_HERST3',
  'KBA05_HERST4',
  'KBA05_HERST5',
  'KBA05_KRSAQUOT',
  'KBA05_KRSHERST1',
  'KBA05_KRSHERST2',
  'KBA05_KRSHERST3',
  'KBA05_KRSKLEIN',
  'KBA05_KRSOBER',
  'KBA05_KRSVAN',
  'KBA05_KRSZUL',
  'KBA05_KW1',
  'KBA05_KW2',
  'KBA05_KW3',
  'KBA05_MAXAH',
  'KBA05_MAXBJ',
  'KBA05_MAXHERST',
  'KBA05_MAXSEG',
  'KBA05_MAXVORB',
  'KBA05_MOD1',
  'KBA05_MOD2',
  'KBA05_MOD3',
  'KBA05_MOD4',
  'KBA05_MOD8',
  'KBA05_MOTOR',
  'KBA05_MOTRAD',
  'KBA05_SEG1',
  'KBA05_SEG2',
  'KBA05_SEG3',
  'KBA05_SEG4',
  'KBA05_SEG5',
  'KBA05_SEG6',
  'KBA05_SEG7',
  'KBA05_SEG8',
  'KBA05_SEG9',
  'KBA05_SEG10',
  'KBA05_VORB0',
  'KBA05_VORB1',
  'KBA05_VORB2',
  'KBA05_ZUL1',
  'KBA05_ZUL2',
  'KBA05_ZUL3',
  'KBA05_ZUL4'],
 ['D19_BANKEN_DIREKT',
  'D19_BANKEN_GROSS',
  'D19_BANKEN_LOKAL',
  'D19_BANKEN_REST',
  'D19_BEKLEIDUNG_GEH',
  'D19_BEKLEIDUNG_REST',
  'D19_BIO_OEKO',
  'D19_BILDUNG',
  'D19_BUCH',
  'D19_DIGIT_SERV',
  'D19_DROGERIEARTIKEL',
  'D19_ENERGIE',
  'D19_FREIZEIT',
  'D19_GARTEN',
  'D19_HANDWERK',
  'D19_HAUS_DEKO',
  'D19_KINDERARTIKEL',
  'D19_KOSMETIK',
  'D19_LEBENSMITTEL',
  'D19_NAHRUNGSERGAENZUNG',
  'D19_RATGEBER',
  'D19_REISEN',
  'D19_SAMMELARTIKEL',
  'D19_SCHUHE',
  'D19_SONSTIGE',
  'D19_TECHNIK',
  'D19_TELKO_MOBILE',
  'D19_TELKO_REST',
  'D19_TIERARTIKEL',
  'D19_VERSICHERUNGEN',
  'D19_VOLLSORTIMENT',
  'D19_VERSAND_REST',
  'D19_WEIN_FEINKOST'],
 ['BALLRAUM', 'EWDICHTE', 'INNENSTADT'],
 ['GEBAEUDETYP_RASTER', 'KKK', 'MOBI_REGIO', 'ONLINE_AFFINITAET', 'REGIOTYP'],
 ['KBA13_ALTERHALTER_30',
  'KBA13_ALTERHALTER_45',
  'KBA13_ALTERHALTER_60',
  'KBA13_ALTERHALTER_61',
  'KBA13_ANZAHL_PKW',
  'KBA13_AUDI',
  'KBA13_AUTOQUOTE',
  'KBA13_BJ_1999',
  'KBA13_BJ_2000',
  'KBA13_BJ_2004',
  'KBA13_BJ_2006',
  'KBA13_BJ_2008',
  'KBA13_BJ_2009',
  'KBA13_BMW',
  'KBA13_CCM_1000',
  'KBA13_CCM_1200',
  'KBA13_CCM_1400',
  'KBA13_CCM_0_1400',
  'KBA13_CCM_1500',
  'KBA13_CCM_1600',
  'KBA13_CCM_1800',
  'KBA13_CCM_2000',
  'KBA13_CCM_2500',
  'KBA13_CCM_2501',
  'KBA13_FAB_ASIEN',
  'KBA13_FAB_SONSTIGE',
  'KBA13_FIAT',
  'KBA13_FORD',
  'KBA13_HALTER_20',
  'KBA13_HALTER_25',
  'KBA13_HALTER_30',
  'KBA13_HALTER_35',
  'KBA13_HALTER_40',
  'KBA13_HALTER_45',
  'KBA13_HALTER_50',
  'KBA13_HALTER_55',
  'KBA13_HALTER_60',
  'KBA13_HALTER_65',
  'KBA13_HALTER_66',
  'KBA13_HERST_ASIEN',
  'KBA13_HERST_AUDI_VW',
  'KBA13_HERST_BMW_BENZ',
  'KBA13_HERST_EUROPA',
  'KBA13_HERST_FORD_OPEL',
  'KBA13_HERST_SONST',
  'KBA13_KMH_110',
  'KBA13_KMH_140',
  'KBA13_KMH_180',
  'KBA13_KMH_0_140',
  'KBA13_KMH_140_210',
  'KBA13_KMH_211',
  'KBA13_KMH_250',
  'KBA13_KMH_251',
  'KBA13_KRSAQUOT',
  'KBA13_KRSHERST_AUDI_VW',
  'KBA13_KRSHERST_BMW_BENZ',
  'KBA13_KRSHERST_FORD_OPEL',
  'KBA13_KRSSEG_KLEIN',
  'KBA13_KRSSEG_OBER',
  'KBA13_KRSSEG_VAN',
  'KBA13_KRSZUL_NEU',
  'KBA13_KW_30',
  'KBA13_KW_40',
  'KBA13_KW_50',
  'KBA13_KW_60',
  'KBA13_KW_0_60',
  'KBA13_KW_70',
  'KBA13_KW_61_120',
  'KBA13_KW_80',
  'KBA13_KW_90',
  'KBA13_KW_110',
  'KBA13_KW_120',
  'KBA13_KW_121',
  'KBA13_MAZDA',
  'KBA13_MERCEDES',
  'KBA13_MOTOR',
  'KBA13_NISSAN',
  'KBA13_OPEL',
  'KBA13_PEUGEOT',
  'KBA13_RENAULT',
  'KBA13_SEG_GELAENDEWAGEN',
  'KBA13_SEG_GROSSRAUMVANS',
  'KBA13_SEG_KLEINST',
  'KBA13_SEG_KLEINWAGEN',
  'KBA13_SEG_KOMPAKTKLASSE',
  'KBA13_SEG_MINIVANS',
  'KBA13_SEG_MINIWAGEN',
  'KBA13_SEG_MITTELKLASSE',
  'KBA13_SEG_OBEREMITTELKLASSE',
  'KBA13_SEG_OBERKLASSE',
  'KBA13_SEG_SONSTIGE',
  'KBA13_SEG_SPORTWAGEN',
  'KBA13_SEG_UTILITIES',
  'KBA13_SEG_VAN',
  'KBA13_SEG_WOHNMOBILE',
  'KBA13_SITZE_4',
  'KBA13_SITZE_5',
  'KBA13_SITZE_6',
  'KBA13_TOYOTA',
  'KBA13_VORB_0',
  'KBA13_VORB_1',
  'KBA13_VORB_1_2',
  'KBA13_VORB_2',
  'KBA13_VORB_3',
  'KBA13_VW',
  'PLZ8_ANTG1',
  'PLZ8_ANTG2',
  'PLZ8_ANTG3',
  'PLZ8_ANTG4',
  'PLZ8_BAUMAX',
  'PLZ8_HHZ',
  'PLZ8_GBZ'],
 ['ARBEIT', 'ORTSGR_KLS9', 'RELAT_AB']]

In [16]:
from collections.abc import Iterable

def flatten(xs):
    for x in xs:
        if isinstance(x, Iterable) and not isinstance(x, (str, bytes)):
            yield from flatten(x)
        else:
            yield x
            
flatten_list = flatten(columns_lists)
columns_set = set(flatten_list)

In [17]:
left = list(set(df.columns) - columns_set)

In [18]:
set(left) - set(leftover_cols)

set()

In [19]:
set(leftover_cols) - set(left)

set()